.Header {
  grid-column: 1/5;

  grid-row: 1/2;
  border: 1px solid red;
}

.topHeader {
  height: 44px;
  position: relative;
  z-index: 400;
  background-color: #db4c3f;
  padding: 0 20px;
}
.topHeader img {
  float: left;
  padding-top: 7px;
  width: 24px;
  height: 24px;
  padding: 2px;
}

.titleHeader h1 {
  top: 30px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}
