.footer {
  display: flex;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

ul.filterButton {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
  list-style: none;
}
ul.filterButton li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
}
